<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Ganado</title>
    <style>
        #logo {
            font-family: monospace;
            font-size: 14px;
            white-space: pre;
        }
        #restoInformacion {
            display: none; /* Ocultar el resto de la información hasta que se escriba el logo */
        }
    </style>
</head>
<body>
    <div id="logo"></div>
    <div id="restoInformacion">
        <!-- Aquí puedes agregar el resto de la información que deseas mostrar -->
        <p>Sos campeón del mundo... Ese día Di Maria y Messi se convierten en la gloria Argentina, 
         metiendo Di Maria el segundo gol y Messi el tercero..</p>
    </div>

    <script>
        // ASCII art de Messi
        var ascii_art_messi =`
⣿⣿⣿⡿⣝⢯⡝⣯⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢯⡿⣝⣿⣻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣯⢷⡻⣜⢧⡻⣽⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡽⣶⢯⣟⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣽⡞⣧⢻⡜⣯⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣽⣞⣷⣻⡽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡽⣧⣛⠶⣹⢞⡽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⣿⣿⣿⣿⣞⣷⢻⣳⣟⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣏⡿⣌⠿⣜⢯⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣾⢯⡳⢎⡝⢣⡛⢿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢧⣟⡻⡜⣇⢿⣻⢿⣿⣿⣿⣿⣿⣿⣿⠻⠀⢿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⢧⡃⡘⠀⠘⠄⢇⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⡷⣝⣎⢎⡗⣯⢿⣿⣿⣿⣿⣯⢻⠀⠀⠀⠉⠟⡩⠉⠉⠀⠀⠀⢿⠛⢹⣿⣿⣿⣿⣿⣿⣿⣿⣮⡱⢀⠀⠀⠀⠈⠘⡵⢻⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣎⢯⠼⣬⠳⣯⢿⣿⣿⡿⣬⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢐⠚⣽⣿⣿⣿⣿⣿⣿⣿⣷⣷⣡⠀⠀⠀⠀⠀⠐⠩⢞⡿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣟⡷⣎⣳⡹⢞⡽⣿⣷⠉⠰⣶⣶⣦⣄⡀⣄⣀⣀⡀⠀⠐⢳⣦⢼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣏⡄⠀⠀⠀⠀⠀⠘⠸⣝⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡾⣵⢭⡻⣜⡳⣿⣧⠀⠈⠛⠛⠁⠘⢿⣟⠛⠖⠀⠀⣔⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣯⡵⣀⠀⠀⠀⠀⠀⠨⢜⡻⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣳⢷⣩⢳⣣⣿⣤⢴⣰⠃⠀⠀⢠⡄⠀⠀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣯⡔⡀⠀⠀⠀⠀⠀⠱⠭⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣷⣿⣿⡇⠹⣿⡿⢷⣤⣾⣷⣾⣇⣼⣟⣿⣭⣒⠚⠻⢿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣵⢂⡀⠀⠀⠀⠀⠐⠡
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⢛⡭⢞⣡⠾⣿⣧⠀⢻⣿⣮⣽⣯⣱⣿⣿⠏⢸⣿⡦⢬⣭⣭⣭⡓⠊⠿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣔⡠⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⡥⡴⢋⣴⠟⣱⠞⠻⣿⣄⠈⢿⣿⣿⣷⣿⠿⠋⠀⡞⠻⠁⠀⠀⠀⠀⠈⠛⠓⠢⣝⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣳⢆⡀⠀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣻⢕⣡⠞⣩⠏⠀⠀⠀⠀⠀⠀⠀⠉⢢⢌⠩⣁⣄⡀⢠⡾⠁⠀⠀⠀⡌⠀⠂⠂⡀⠀⠀⠀⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣫⢊⡴⢫⡔⠋⠁⠀⠀⠀⠉⠁⠉⠛⠛⣳⣿⠀⠑⢤⠿⡟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠘⠄⠀⠀⠀⠀⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣮⣇⡀
⣟⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡫⢫⠞⣡⠞⠁⠀⠀⠀⠤⠶⠶⠶⠖⠒⠖⠉⠋⠀⠄⠈⠄⠁⠀⢂⠀⠀⠀⠀⠐⡀⠄⠀⠰⠀⠀⠀⠀⠈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣥
⢮⡝⡿⣿⣿⣿⣿⣿⣿⣿⠋⠁⠋⠾⠃⠀⠀⠀⠀⢀⣤⣤⣤⣤⣼⣦⡀⠀⣀⢀⡀⢤⢹⠀⠀⠈⠀⠀⠀⠀⠀⠀⠁⠄⠀⡃⠀⠀⢠⣺⣿⣿⣿⣿⣟⢛⠻⢿⣿⣿⣿⣿⣿⣿⣿
⡷⣺⡱⣏⡿⣿⣿⣿⣿⣿⣶⠶⣶⡆⢄⡀⠀⠀⡠⠜⢰⢏⡟⡽⣷⡽⣿⡧⠄⠄⠄⢕⢻⠀⠀⠀⡀⠀⠀⠀⠀⣠⢀⠈⡄⠠⠀⠀⢠⣯⣿⢻⡯⢡⠭⣿⣧⣄⡉⢿⣿⣿⣿⣿⣿
⣿⣧⡳⣝⡺⣵⣻⣿⣿⣟⠧⣵⣾⢧⢠⡟⣶⡵⠀⠀⠘⡏⠷⣌⠛⣾⢿⡼⠇⠂⠄⣂⣣⡶⣦⣤⢁⠀⠀⠀⠰⠻⠍⠂⡁⠀⣦⣖⠫⢾⡿⢟⢹⡥⠰⡠⣤⢈⢾⣘⣿⣿⣿⣿⣿
⣿⣷⣿⣵⢫⡖⢧⡻⣽⡉⠠⠦⠟⢀⠏⣾⡟⠇⠀⠀⠀⢸⢡⡀⢊⡂⡞⠰⢃⢸⠁⠠⠥⠀⠀⠀⠈⠀⠀⠀⠀⠐⠀⠐⠀⠀⣹⣻⡏⢷⣿⢯⣞⠮⣑⢁⢌⣄⠢⢹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣷⡽⣣⠝⣊⣤⠄⢊⠁⣎⡼⣟⡗⡄⢸⠀⠀⠸⡀⠻⠈⠎⢃⡃⠸⠂⠀⠀⢃⠀⠀⣤⣤⣤⣄⠀⠀⠀⠀⠀⠀⠀⣦⠼⣉⠟⣻⣿⡾⣿⢄⡀⠀⢀⡈⠟⣻⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡷⢿⠟⠡⢂⢈⡮⣗⠭⡭⣮⠈⣿⡀⠀⠀⠏⠤⢊⠠⠃⠀⢀⠂⠀⢮⡿⠀⢸⣿⠉⠁⣯⠀⠀⠀⠀⠀⠀⠰⣿⣾⣽⣷⠿⡋⣿⡯⠗⠛⠉⣀⣠⣼⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡟⠂⢇⠠⡏⣑⣜⡯⠴⣻⠀⢸⡇⠀⠀⢠⢜⡃⠀⡄⢠⠀⢔⠌⠙⣿⠀⢸⣿⡄⢰⢸⠃⠀⠀⠀⠀⠀⣼⢿⣯⡍⠂⡠⠘⠁⣀⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⢣⡴⣹⣤⢍⣹⠣⣟⡛⣿⠀⠈⣷⠀⠀⠘⢸⠕⡄⢇⠀⠀⠈⢘⠀⣿⠀⠀⣿⡄⠈⢸⡇⠀⠀⠀⠀⠂⢼⢫⠴⠘⠀⠠⠐⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡷⣝⣽⡿⢷⣻⡭⣮⠻⣝⡇⠀⢹⡆⠀⢰⢀⡏⠀⠀⢀⠀⠀⠎⠀⣻⣆⡀⢿⣧⣴⣾⠇⠀⠀⠠⠐⣠⡫⠃⠀⠀⠀⠀⠀⢸⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡍⣿⢫⣿⡏⣼⣧⠛⡜⢲⠀⠈⢣⠁⢸⠈⠀⠀⠀⠁⠈⠀⠃⠀⠛⠋⠁⠀⠉⠉⠀⠀⠀⠀⠐⡔⠁⠀⠀⠀⠀⠀⠀⠀⠂⠊⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣭⣯⣯⣾⣿⣯⣟⡵⢻⠀⠀⢸⡗⠀⠅⡠⢢⠀⠀⡸⢀⠀⠀⠀⠀⢠⠀⠀⠀⡇⠀⠀⡀⠐⠐⠀⠀⠀⠀⠀⠀⢀⠊⠀⠀⠑⢎⡿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣳⡀⠀⢸⡇⠀⠠⠈⠀⠀⠈⠀⠈⠀⠀⠀⠡⢠⢣⣀⡀⠇⠐⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣧⡂⢄⠀⠈⠀⢍⠻⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⣿⠀⢐⠲⡀⠆⢀⣀⢀⣒⢆⠀⡐⠀⠈⢍⣠⣄⡶⠎⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣷⣿⢦⡌⡀⠄⢀⠉⢖⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⡇⠰⣀⠀⢇⠖⢈⠩⣞⣥⣆⢠⠀⠈⠳⣿⣿⡿⠃⢀⠴⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⣿⣿⣾⣱⢂⡄⠀⠂⠱⡙⢿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠟⠃⠘⠃⠂⠁⠀⠀⠉⠈⠈⠉⠈⠉⠉⠀⠒⠒⠛⠛⠒⠀⠎⣀⠔⠉⡠⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣷⣌⠒⡀⠁⠈⠢⠹⢿⣿      
          `;

        var index = 0;
        var logoElement = document.getElementById("logo");
        var restoInformacion = document.getElementById("restoInformacion");

        function escribirLogo() {
            if (index < ascii_art_messi.length) {
                logoElement.textContent += ascii_art_messi.charAt(index);
                index++;
                setTimeout(escribirLogo, 10); // Velocidad de escritura ajustada (más rápida)
            } else {
                restoInformacion.style.display = 'block'; // Mostrar el resto de la información
            }
        }

        // Iniciar la escritura del logo al cargar la página
        window.onload = escribirLogo;
    </script>
</body>
</html>
