<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 7</title>
    <style>
        form {
            text-align: left;
        }

        .option-label {
            display: flex;
            align-items: center;
            justify-content: left;
        }

        .option-label input[type="radio"] {
            margin-right: 10px;
            align-self: flex-start;
        }
    </style>
</head>
<body>
    <h2>Glorioso, Argentina juega la final... Bien, siguiente pregunta..</h2>
    <h1>Pregunta 7</h1>
    <p>Argentina y la Final, es contra Francia ¿Quién hizo el segundo y tercer gol para Argentina?</p>
    <form method="post">
        <label class="option-label">A<input type="radio" name="respuesta" value="a">Di Maria y Messi</label><br>
        <label class="option-label">B<input type="radio" name="respuesta" value="b">Enzo Fernandez y De paul</label><br>
        <label class="option-label">C<input type="radio" name="respuesta" value="c">Alexis McAllister y Acuña</label><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
