<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 3</title>
    <style>
        form {
            text-align: left;
        }

        .option-label {
            display: flex;
            align-items: center;
            justify-content: left;
        }

        .option-label input[type="radio"] {
            margin-right: 10px;
            align-self: flex-start;
        }
    </style>
</head>
<body>
    <h2>Ese día Messi convirtió uno de los goles más gritados por la gente, dándole a Argentina la esperanza de seguir en carrera!..Bien siguiente pregunta..</h2>
    <h1>Pregunta 3</h1>
    <p>En el tercer partido Argentina vs Polonia, ¿Quién convirtió un gol de estos 3 jugadores?</p>
    <form method="post">
        <label class="option-label">A<input type="radio" name="respuesta" value="a">Alexis McAllister</label><br>
        <label class="option-label">B<input type="radio" name="respuesta" value="b">Lautaro Martinez</label><br>
        <label class="option-label">C<input type="radio" name="respuesta" value="c">German Pezzela</label><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
