<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 6</title>
    <style>
        form {
            text-align: left;
        }

        .option-label {
            display: flex;
            align-items: center;
            justify-content: left;
        }

        .option-label input[type="radio"] {
            margin-right: 10px;
            align-self: flex-start;
        }
    </style>
</head>
<body>
    <h2>Correctooo!, uno de los mejores partidos del mundial.. Bien,siguiente pregunta</h2>
    <h1>Pregunta 6</h1>
    <p>Argentina en Semifinal, ¿Contra quién jugó?</p>
    <form method="post">
        <label class="option-label">A<input type="radio" name="respuesta" value="a">VS Croacia</label><br>
        <label class="option-label">B<input type="radio" name="respuesta" value="b">VS Marruecos</label><br>
        <label class="option-label">C<input type="radio" name="respuesta" value="c">VS Ecuador</label><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
